<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bokstavsspel</title>
  <base href="<%= baseURL %>" />
  <link rel="stylesheet" href="./css/style.css" />
  <script type="module" src="./js/components/index.js"></script>
  <%- defineContent('style') %>
  <%- defineContent('script') %>
</head>

<body>
  <main>
    <%- include('../partials/flash') %>
    <%- body %>
  </main>
</body>

</html>